/*************************************************
 *  An Example Purple Theme for Hugo Academic
 *  Set `custom_css = ["green.css"] in `config.toml`.
 *  Then save this file as `/static/css/green.css` relative to your website root (i.e. not in `themes/academic` directory).
 *  https://github.com/gcushen/hugo-academic
 **************************************************/

a,
a:visited,
h3.article-title a:hover {
    color: rgb(107,80,143);
}

a:hover {
    color: rgb(161,137,210);
}

.navbar-default .navbar-nav li a:hover,
.btn-primary,
.btn-primary.btn-outline {
    color: rgb(107,80,143);
}

/* Articles */

.article-title a {
    color: #151515;
}

.article-metadata a {
    color: #888;
}

.article-metadata a:hover {
    color: rgb(107,80,143);
}

/* Standard buttons */

.btn-primary,
.btn-primary.btn-outline {
    border-color: rgb(107,80,143);
}

/* Hover buttons */

.btn-primary.btn-outline:hover {
    border-color: rgb(161,137,210);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited,
.btn-primary.btn-outline:active {
    background-color: rgb(161,137,210);
}

/* Navbar buttons */

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: rgb(161,137,210);
  font-weight: 700;
  background-color: transparent !important; /* Override Bootstrap. */
}

/* Toolbar buttons */

.btn-toolbar .btn.btn-primary {
  background: rgb(161,137,210);
}

.btn-toolbar .btn.btn-primary:hover,
.btn-toolbar .btn.btn-primary:focus {
  background-color: rgba(161,137,210,0.6);
}

.btn-toolbar .btn.btn-primary:active,
.btn-toolbar .btn.btn-primary.active {
  background-color: rgba(161,137,210,1);
}
